script(type="text/javascript", src="/js/event.js")
link(rel='stylesheet', href='/css/event.css')

div#eid.gone= event._id

div.event-title
    div.event-name= event.name
    div.event-info= event.info
            
div#ride-list
    button.left#add-ride-button(type="submit") Add Your Car
    div.spacing
    div.spacing
    div.spacing
    
    - each ride in rides
        div.ride-listing(data-rid=ride._id)
            div.driver
                img.user-image.driver-image(src="#", data-uid = ride.driver) 
                div.user-name.driver-name(data-uid = ride.driver)
                div.join-ride-buttons
                    div.hopin Hop in:
                    button(type="submit", data-rid=ride._id) Way There
                    button(type="submit", data-rid=ride._id) Way Back
                    button.join-ride-button(type="submit", data-rid=ride._id) Both
            div.clear
            div.way-there.riders-list(data-rid=ride._id)
                div.rider Way There
                -each rider in ride.riders
                    div.rider
                        img.user-image.rider-image(src="#", data-uid = rider)
                        div.user-name.rider-name(data-uid = rider)
                    div.clear
            div.way-back.riders-list(data-rid=ride._id)
                div.rider Way Back
                -each rider in ride.riders
                    div.rider
                        img.user-image.rider-image(src="#", data-uid = rider)
                        div.user-name.rider-name(data-uid = rider)
                    div.clear