script(type="text/javascript", src="/js/event.js")
link(rel='stylesheet', href='/css/event.css')

div#eid.gone= event._id

div.event-title
    div.event-name= event.name
    div.event-info= event.info
            
div.left-margin#event-buttons
    button#join-button Join
    
div.clear.spacing
div#event-users
    div.left-margin Members of this event:
    - each u in event.users
        div.left.gone.user-name(data-uid = u)
        a.left.event-user-image(href= "/user/" + u)
            img.user-image(src="#", data-uid = u)

div.clear.spacing
div#ride-list
    button.left#show-add-ride(type="submit") Add Your Car
    div.spacing
    div.spacing
    div.spacing
    
    - each ride in rides
        div.ride-listing(data-rid=ride._id)
            div.driver
                img.user-image.driver-image(src="#", data-uid = ride.driver) 
                div.driver-info
                    div.user-name.driver-name(data-uid = ride.driver)
                    div.clear
                    div.ride-notes= ride.notes
                div.join-ride-buttons
                    div.hopin Hop in:
                    button.join-ride-there(type="submit", data-rid=ride._id) Way There
                    button.join-ride-back(type="submit", data-rid=ride._id) Way Back
                    button.join-ride-both(type="submit", data-rid=ride._id) Both
            div.clear
            div.way-there.riders-list(data-rid=ride._id)
                div.rider Way There \(
                    span= ride.seats.there
                    span &nbsp;spots) Leaving:  
                    span= ride.leaving
                -each rider in ride.riders.there
                    div.rider
                        img.user-image.rider-image(src="#", data-uid = rider)
                        div.user-name.rider-name(data-uid = rider)
                    div.clear
            div.way-back.riders-list(data-rid=ride._id)
                div.rider Way Back \(
                    span= ride.seats.back
                    span &nbsp;spots) Returning: 
                    span= ride.returning
                -each rider in ride.riders.back
                    div.rider
                        img.user-image.rider-image(src="#", data-uid = rider)
                        div.user-name.rider-name(data-uid = rider)
                    div.clear
                    
                    
div.clear
div.new-popup.popup.gone
    div.header Add Your Car
        
    div.field.left
        label Number of Seats There
        div.clear
        input#way-there(type="number", value=4)
    div.field.left
        label Number of Seats Back
        div.clear
        input#way-back(type="number", value=4)
    div.clear
    div.field.left
        label Leaving
        div.clear
        input#leaving(type="datetime")
    div.field.left
        label Returning
        div.clear
        input#returning(type="datetime")
    div.clear
    div.field
        label Notes
        div.clear
        textarea#ride-notes(type="text")
    div.clear
    div.buttons
        button#add-ride-button(type="submit") Add Car
        button.close-popup(type="submit") Cancel