script(type="text/javascript", src="/js/group.js")
link(rel='stylesheet', href='/css/group.css')

div#gid.gone= group._id

div.group-title
    div.group-name= group.name
    div.group-description= group.description

button#join-group-button(type="submit") Join Group
div.spacing
div#member-list
    - each user in users
        div.member
            a(href="/user/" + user.fbid)
                img.user-image(src="http://graph.facebook.com/" + user.fbid + "/picture?type=square") 
            div.left
                a.user-name(href="/user/" + user.fbid)= user.first_name + " " + user.last_name
                div.clear
                a.user-email(href="mailto:" + user.email)= user.email
        div.clear
            
div#events
    div Events:
        button.right#show-event-popup(type="submit") Add New Event
    
    div#event-list
        - each ev in events
            a.event(href="/event/" + ev._id)
                div= ev.name
                
                
div.clear

div#new-popup.popup.gone
    div.header Add New Event
        
    div.field
        label Event Name
        div.clear
        input#add-event-name(type="text")
    div.field
        label Event Info
        div.clear
        textarea#add-event-info(type="text")
    div.clear
    div.buttons
        button#add-event-button(type="submit") Add Event
        button.close-popup(type="submit") Cancel